<ul style="list-style-type:none; margin-left:-40px;">
<li style="float:left; margin-right:20px;"><a href="/dungeons">All Dungeons</a></li>
<li style="float:left;"><a href="/monsters">All Monsters</a></li>
</ul><br/>

<h1>Welcome to my Dungeon Manager</h1>

<ul style='list-style-type:none;'>
  <li><a href="/dungeons">All Dungeons</a></li>
  <li><a href="/dungeons/new">Add a New Dungeon</a></li>
  <li><a href="/monsters">All Monsters</a></li>
  <li><a href="/monsters/new">Add a New Monster</a></li>
</ul>

